<div class="main-container">
  <div class="header">
    <div class="container">
      <b>Call Us : (0230) 2407740, 2407750, 2407760</b>
    </div>
  </div>

  <div class="slider" id="home">
    <img src="./assets/images/asset 0.jpeg" alt="" />
  </div>

  <div class="container">
    <div class="nav-container">
      <!-- style="position: sticky;top: 1px;background-color:#3CAAC5;" -->

      <img src="./assets/images/logo.png" alt="" class="logo" />

      <nav class="navbar" id="navbar">
        <a href="#home">Home</a>
        <a href="#about">About Us</a>
        <a href="#event">Events</a>
        <a href="#galary">Gallary</a>
        <a href="#notice">Notice Board</a>
        <a href="#placement">Placement</a>
        <a href="#contact">Contact</a>
      </nav>

      <div class="burger-icon">
        <div class="fa fa-bars" (click)="togglenavbar()"></div>
      </div>
    </div>
    <div class="slider">
      <img src="./assets/images/asset 1.png" alt="" />
    </div>

    <div class="header">
      <div class="container">
        <!-- <b><img src="./assets/images/news.gif" alt=""></b> -->
        <b>NEWS :</b>
        <marquee behavior="" direction="left">
          <a
            href="https://docs.google.com/forms/d/e/1FAIpQLSdIdJ1Y1DZ3r9xLK9EzVAYFqWNN-9c3QCopi50234_dDRbFvQ/viewform"
          >
            → Apply for FY BTech Course
          </a>
          <a href="http://www.amgoi.org/default.aspx#">
            → Welcome To Ashokrao Mane Group of Institution
          </a>
        </marquee>
      </div>
    </div>

    <div class="main-section">
      <div class="container">
        <div class="event" id="event">
          <h2 class="heading">Campus News</h2>
          <div>
            <marquee
              behavior=""
              direction="up"
              [scrollAmount]="4"
              style="height: 340px"
            >
              <ul>
                <li>
                  Admissions Open For MBA Department 2023-24
                  <img src="./assets/images/new.gif" alt="" />
                </li>
                <br />
                <li>
                  Online Admission Information for First & Direct Second Year
                  <img src="./assets/images/new.gif" alt="" /><br />
                </li>
                <li>
                  Online Admission Information for First & Direct Second Year
                  <img src="./assets/images/new.gif" alt="" /><br />
                </li>
                <li>
                  Online Admission Information for First & Direct Second Year
                  <img src="./assets/images/new.gif" alt="" /><br />
                </li>
              </ul>
            </marquee>
          </div>
        </div>

        <div class="event" id="event">
          <h2 class="heading">Events</h2>
          <div>
            <marquee
              behavior=""
              direction="up"
              [scrollAmount]="4"
              style="height: 340px"
            >
              <ul>
                <li>
                  <span class="event-date">20 <br />Nov</span>
                  Fresher Party
                </li>
                <li>
                  <span class="event-date">25 <br />Nov</span>
                  Indoor Games
                </li>
                <li>
                  <span class="event-date">30 <br />Nov</span>
                  Sports
                </li>
                <li>
                  <span class="event-date">10 <br />Nov</span>
                  Gathering
                </li>
              </ul>
            </marquee>
          </div>
        </div>

        <div class="event" id="notice">
          <h2 class="heading">Notice Board</h2>
          <div>
            <marquee
              behavior=""
              direction="up"
              [scrollAmount]="4"
              style="height: 340px"
            >
              <ul>
                <li>
                  <img
                    src="./assets/images/folder.jpg"
                    alt=""
                    class="folderrr"
                  />
                  Academic Calender 2023-24 Odd Semester
                </li>
                <li>
                  <img
                    src="./assets/images/folder.jpg"
                    alt=""
                    class="folderrr"
                  />
                  Rules & Regulations For Public Blog
                </li>
                <li>
                  <img
                    src="./assets/images/folder.jpg"
                    alt=""
                    class="folderrr"
                  />
                  Vidya Lakshmi Policy For Student Education loan
                </li>
                <li>
                  <img
                    src="./assets/images/folder.jpg"
                    alt=""
                    class="folderrr"
                  />
                  National Aprentisship Traning Scheme
                </li>
              </ul>
            </marquee>
          </div>
        </div>

        <div class="main-section">
          <div class="container about-us" id="about">
            <h2 class="heading">About Our College</h2>
            <h4>
              We ecstatically introduce ourselves as rapidly growing group of
              technical education institutions in Western Maharashtra under the
              flagship of Shri Balasaheb Mane Shikshan Prasarak Mandal, Ambap
              (Parent Trust) which was founded by Late Shri. Ashokrao Mane Saheb
              in the year 1980.
            </h4>
            <br />
            <p>
              Shri Balasaheb Mane Shikshan Prassarak Mandal’s, Ashokrao Mane
              Group of Institutions (AMGOI) is started in 2009 to promote
              Technical Education and Management studies for rural communities..
              The Integrated Campus is situated beside the Pune – Bangaluru
              national highway, near Kolhapur, at Vathar Tarf Vadgaon, which is
              well connected by all modes of transport. The Integrated Campus is
              spread over an area of 20 acres in a serene and refreshing
              atmosphere surrounded by greenery. AMGOI is an institution which
              defines and continues to update methods of engineering. It
              provides its students with modern educational facilities while
              retaining traditional values, as well as using its strong
              industrial contacts to mold young, talented individuals who can
              compete in the global arena. The aim of AMGOI is to rank among
              leading universities globally. Consequently, AMGOI’s mission is to
              educate individuals to be competitive not only in India, but all
              over the world. Within an intensely competitive environment, the
              college has adopted a dynamic, global, high-quality; creative and
              communicative approach in education, as well as research and
              development. <br />
              Keeping abreast with modern developments, AMGOI is constantly
              restructuring itself and renovating its physical infrastructure as
              well as its research and education facilities. Since its inception
              and foundation, AMGOI has constantly lead the way in reform
              movements, and in the latter era of the Republic of India, AMGOI
              has assumed pivotal roles in the reconstruction, modernization,
              and administration of the society. The efforts and expertise of
              AMGOI graduates have been major contributors in the planning and
              construction of India's infrastructure.
            </p>
          </div>
        </div>

        <div class="main-section gallary" id="galary">
          <div class="container about-us">
            <h2 class="heading">Our College Gallary</h2>
            <img
              src="./assets/images/gallary1.jpg"
              alt=""
              class="gallary-section"
            />
            <img
              src="./assets/images/gallary2.jpg"
              alt=""
              class="gallary-section"
            />
            <img
              src="./assets/images/gallary5.jpeg"
              alt=""
              class="gallary-section"
            />
            <img
              src="./assets/images/gallary4.jpeg"
              alt=""
              class="gallary-section"
            />
            <img
              src="./assets/images/gallary6.jpg"
              alt=""
              class="gallary-section"
            />
            <img
              src="./assets/images/gallary3.jpg"
              alt=""
              class="gallary-section"
            />
            <img
              src="./assets/images/gallary8.jpeg"
              alt=""
              class="gallary-section"
            />
            <img
              src="./assets/images/gallary7.jpg"
              alt=""
              class="gallary-section"
            />
          </div>
        </div>

        <div class="main-section gallary">
          <div class="container about-us" id="placement">
            <h2 class="heading">OUR PRESTIGIOUS EMPLOYERS</h2>
            <marquee
              behavior=""
              direction="left"
              [scrollAmount]="10"
              class="placement"
            >
              <img src="./assets/images/asset 47.png" alt="" />
              <img src="./assets/images/asset 48.png" alt="" />
              <img src="./assets/images/asset 49.png" alt="" />
              <img src="./assets/images/asset 50.png" alt="" />
              <img src="./assets/images/asset 51.png" alt="" />
              <img src="./assets/images/asset 52.png" alt="" />
              <img src="./assets/images/asset 53.png" alt="" />
              <img src="./assets/images/asset 54.png" alt="" />
              <img src="./assets/images/asset 55.png" alt="" />
            </marquee>
          </div>
        </div>

        <div class="footer">
          <div class="contact" id="contact">
            <b class="heading">CONTACT US</b>
            <div class="infobox">
              <table>
                <tr>
                  <td>Email :</td>
                  <td>amgoi@gmail.com</td>
                </tr>
                <tr>
                  <td>Phone :</td>
                  <td>(0230) 2407740, 2407750, 2407760</td>
                </tr>
                <tr>
                  <td>Address:</td>
                  <td>
                    Shri Balasaheb Mane Shikshan Prakashan Mandal’s Ashokrao
                    Mane Group Of Institution Pune - Bengaluru Hwy, Vathar Tarf
                    Vadgaon, Maharashtra 416112
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="location">
            <b class="heading">LOCATION</b>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7637.2348006596785!2d74.28990097770996!3d16.84532620000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc105df55310d89%3A0xffe4ed4c0c99375a!2sSHRI%20BALASAHEB%20MANE%20SHIKSHAN%20PRASARAK%20MANDAL&#39;S%20ASHOKRAO%20MANE%20GROUP%20OF%20INSTITUTIONS!5e0!3m2!1sen!2sin!4v1701153630120!5m2!1sen!2sin"
              width="100%"
              height="300"
              style="border: 0; margin-top: 10px"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">© 2023 Copyright: AMGOI.com</div>
  </div>
</div>
