.main-container {
  max-width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  margin: 0 auto;
  /* width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: 3CAAC5; */
}

.nav-container {
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.main-section {
  width: 100%;
  float: left;
  padding: 70px 0 70px 0;
}

.heading {
  font-size: 28px;
  font-weight: 500;
  border-bottom: 1px solid #3caac5;
  color: #3caac5;
  margin-bottom: 20px;
}
.header {
  background: #3caac5;
  padding: 6px;
  border-bottom: 2px solid black;
}

.header b {
  color: white;
  padding: 8px;
  font-size: 15px;
}

.header marquee {
  font-size: 20px;
  color: white;
  width: 80%;
}
.header marquee a {
  text-decoration: none;
  color: white;
}

.banner {
  display: grid;
  width: 100%;
  background-size: cover;
  position: relative;
}

.logo {
  margin-left: 20px;
  height: 80px;
}

nav {
  float: right;
  padding: 25px 0;
  position: sticky;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  padding: 2px 10px;
  font-weight: 500;
}

.slider img {
  width: 100%;
  /* cursor: pointer; */
}

.event {
  width: 32%;
  margin-right: 1%;
  float: left;
  background-color: #fff;
  padding: 10px;
}

.event .heading {
  border-bottom: 1px solid;
  padding: 5px;
  color: white;
  background: #3caac5;
  text-align: center;
}

.event ul li {
  margin-bottom: 20px;
  width: 100%;
  float: left;
  list-style: none;
}

.event-date {
  background: #3caac5;
  float: left;
  text-align: center;
  font-size: 14px;
  color: white;
  padding: 8px 12px;
  margin-right: 10px;
}

.folderrr {
  height: 30px;
  width: 30px;
}

.about-us div {
  width: 45%;
  float: left;
  line-height: 30px;
  font-size: 18px;
}

.about-us h4 {
  font-size: 22px;
}
.about-us p {
  line-height: 30px;
}

.gallary-section {
  width: 23%;
  margin: 10px;
  border: 2px solid #3caac5;
  padding: 10px;
}

.placement img {
  border: 2px solid #3caac5;
  padding: 5px;
  margin: 5px;
  width: 10%;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.burger-icon div {
  margin-right: 20px;
  display: none;
  font-size: 2rem;
  right: 0;
  top: 0;
}

.footer .contact {
  width: 40%;
}
.footer .location {
  width: 40%;
}

.infobox {
  width: 70%;
  height: 300px;
  border: 2px solid #3caac5;
  margin-top: 10px;
  padding: 20px;
}
table {
  width: 100%;
  row-gap: 10px;
  /* display: flex; */
  text-align: center;
  justify-content: space-;
}

.copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  background: #3caac5;
}

/* hamburgur    */

@media (max-width: 720px) {
  .navbar {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    align-items: center;
    left: 50%;
    gap: 1rem;
    transform: (-50%, -0%);
    width: 50%;
    /* display: none; */
    background-color: #3caac5;
    color: white;
  }
  .rightNav {
    flex-flow: column;
  }
  .burger-icon div {
    display: initial;
  }
}

/* MEDIA QUERY */

@media only screen and (max-width: 520px) {
  .container {
    font-size: 14px;
  }

  .slider img {
    width: 100%;
  }

  .event {
    width: 100%;
    margin-right: 0;
  }

  .about-us div,
  .about-us h4,
  .about-us p {
    width: 100%;
    float: none;
    margin-bottom: 20px;
  }

  .gallary-section {
    width: 100%;
    margin: 10px 0;
  }

  .placement img {
    width: 20%;
  }

  .footer .contact,
  .footer .location {
    width: 100%;
  }

  .infobox {
    width: 100%;
    height: auto;
  }

  table {
    width: 100%;
  }

  .copyright {
    padding: 10px 0;
  }
}
